AZURE_AD_CLIENT_ID=
AZURE_AD_CLIENT_SECRET=
AZURE_AD_ISSUER=
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000

NEXT_PUBLIC_ROLES_ENABLED=true
ADMIN_GROUP=Admin
EMPLOYEE_GROUP=TT_Interns
TEAM_LEAD_GROUP=Team Leads

DYNAMODB_TABLE_NAME = "target-tracking-concrete"
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
SNS_TOPIC_ARN = arn:aws:sns:us-east-1:248226241757:target-change-request

CALLBACK="http://localhost:3000"