<div class = "dashboard">
    <h1>Dashboard</h1>
</div>


<div id = "calendar"> </div>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>

<div class = "overview">
    <h1>Full Employee Overview</h1>
</div>

<div style = "height:200px;overflow:auto;">    
    <table>
        <tr>
            <th>Employee Name</th>
            <th>Hit Mid-Year Goal</th>
            <th>Hit End Year Goal</th>
        </tr>
        <tr>
            <td>Name</td>
            <td>True</td>
            <td>True</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>False</td>
            <td>False</td>
        </tr>

        <tr>
            <td>Name</td>
            <td>True</td>
            <td>True</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>False</td>
            <td>False</td>
        </tr>

        <tr>
            <td>Name</td>
            <td>True</td>
            <td>True</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>False</td>
            <td>False</td>
        </tr>

    </table>
</div>


<button class = "note"> Note: Links lead to Employee's Timesheet</button>


