<body>

    <div class = "byteratio-logo">
        <img src = "assets/byteratiologo.jpg">
    </div>    

    <div class = "employee-search">
        <h1>Employee Search</h1>
    </div>

    <div class = "search-bar">
            <input type="text">
    </div>
 
    <div class = "dashboard">
        <button class = "dashboard">Dashboard</button>
    </div>

    <div class = "all-employees">
        <button class = "all-employees">All Employees</button>
    </div>


    <div class = "ytd">
        <button class = "ytd">YTD</button>
    </div>
</body>
